html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    font-family: 'Fira Code', monospace;
    background-color:#000714;
}

.logo{
    float: left;
    font-size: 1.7em;
    padding: 20px 0;
    font-weight: 800;
    margin-left: 0.7em;
}
header{
    position: fixed;
    width: 100%;
}
main{
    margin-bottom: 30px;
}
header::after{
    content:'';
    display: table;
    clear: both;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}
nav a{
    text-decoration: none;
    color: #C0C0C0;
    transition: color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
}
li:nth-of-type(6){
    margin-right: 2em;
}
nav a:hover{
    border-color:#C0C0C0 ;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em #c0c0c0;
    transform: translateY(0.25em);
    cursor: pointer;
}
header{
    background-color: #000714;
    font-family: 'Fira Code', monospace;
    color:  #C0C0C0;
}
section.header1{
    width: 100%;
    height:700px;
    /* background: url("https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80") no-repeat center center fixed;  */
    background: url("https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80") no-repeat  center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:  5px outset #000511;
}
h1#firstText{
    font-size: 3em;
    font-weight: 500;
}
span.par{
    color: #C0C0C0;

}
span.bracket{
    color: #C0C0C0;
}

section.intro{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #000714;
    border-top:  5px outset #000511;

}
/* div{
flex:1 1 0px;
} */
div.introduction{
    display:flex;

    flex: 1 1 0px;
}
div.introduction img{
    max-width:80%;
    margin-left:5%;
    border-radius: 50%;
    padding: 50px 0;
 
}

div.introduction p{
    color: #C0C0C0;
    align-self: center;
    border-left:10px groove #C0C0C0;
    padding-left: 20px;
    margin-right: 5%;
}
section.cv{
   
    /* background-color: #000714; */
    background: linear-gradient(#000714 30%,#C0C0C0);
    text-align: center;
    height: 700px;
    /* display: flex;
   flex-wrap:wrap;
   align-items: center; */
   border-top:  1px outset #010c27;


}
#CV{
    color: #C0C0C0;
}
h2#CV{
    /* flex-basis: 100%; */
    font-size: 3em;
    margin-bottom: 80px;
    padding-top:50px

}
div.CVdiv{

    display:flex;
    justify-content: space-evenly;
    align-items: center;  
}
div.CV{
    /* background-color: #023D78; */
    background-color: #C0C0C0;
   max-width: 20%;
   border-radius: 5%;
   border-top-left-radius: 4em;
   border-bottom-right-radius: 4em;
   border-top-right-radius: 8em;
   border-bottom-left-radius: 8em;
   padding: 3.5em;
    }
    section.gallery{
        background-color: #C0C0C0;
        font-size:1.8em ;
    }
    section.gallery p{
        margin-left:28px;
        font-weight: 400;
       
    }
    div.galerija {
      
        display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      padding: 5px;
    }
    section.gallery img{
        max-width: 30%;
      margin:20px;
      box-sizing: border-box;
      border: 5px outset#7a7a7a;
    }
    section.blog{
        background-color: #000714;
        height: 500px;
        color: #C0C0C0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section.about{
        background-color: #000714;
        height: 500px;
        color: #C0C0C0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.about{
        background-color: #000714;
        height: 500px;
        color: #C0C0C0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.favorite{
        border-top:  5px outset #000103;
        color: #C0C0C0;
        background-color: #000714;
    }
    section.favorite div{
        border: 3px groove #000511;
    }
    div.f1{
        max-width: 100%;
        height: 500px;
        background: url(universe.jpg) no-repeat  center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    }
    div.f2{
        max-width: 100%;
        height: 500px;
        background: url(movies.jpg) no-repeat  center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    }
    div.f3{
        max-width: 100%;
        height: 500px;
        background: url(music.jpg) no-repeat  center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    }
    .favorite h3{
        font-size: 2em;
    }
    p.favtext{
        text-align: center;
        margin-top:200px;
    }

    footer{
        height: 350px;
        max-width: 100%;
        background: url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80") no-repeat  center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        color: #C0C0C0;
      text-align: center;
      border-top:2px outset #3a3a3a;
      padding-top: 10px;
    }
    div.footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:10px 0;
    }
    div.footer button{
        margin:15px 0;
        font-family: 'Fira Code', monospace;
        background: none;
        color:#c0c0c0;
        border: 2px solid;
        padding:1em 2em;
        font-size: 0.7em;
        transition: color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
    }
    div.footer button:hover{
        border-color:#c0c0c0 ;
        color:white;
        box-shadow: 0 0.5em 0.5em -0.4em #c0c0c0;
        transform: translateY(-0.25em);
        cursor: pointer;
    }
    footer span{
        font-size: 0.7em;
        opacity: 0.5;
    }